html, body {
  height: 100%;
  background-color: darkblue;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
}

h1 {
  position: relative;
  z-index: 10;
  transform: translate(0px, 400px) scale(1.5);
  font-weight: 800;
}

a {
  color: #FFE37B;
  text-decoration: none;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  background-color: #0099ff;
}

.navbar a {
  font-size: x-large;
  color: darkblue;
}

.navbar-brand{
  color: darkblue;
}

nav a:hover {
  color: #FFE37B;
  text-decoration: none;
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition: .1s;
}

.nav-a {
  margin-left: .5em;
  margin-right: .5em;
}

.nav-a:hover {
  color: #FFE37B;
  text-decoration: none;
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition: .1s;
}

.border-bottom{
  border-bottom: 1px solid aliceblue!important;
}

i {
  margin-right: .5em;
}

p {
  position: relative;
  z-index: 10;
}