html, body {
  height: 100%;
  background-color: darkblue;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
}

h1 {
  position: relative;
  z-index: 10;
  transform: scale(1.5);
  font-weight: 800;
  color: white;
}

a {
  color: #FFE37B;
  text-decoration: none;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  background-color: #0099ff;
}

.navbar a {
  font-size: x-large;
  color: darkblue;
}

.navbar-brand{
  color: darkblue;
}

nav a:hover {
  color: #FFE37B;
  text-decoration: none;
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition: .1s;
}

.nav-a {
  margin-left: .5em;
  margin-right: .5em;
}

.nav-a:hover {
  color: #FFE37B;
  text-decoration: none;
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition: .1s;
}

.border-bottom{
  border-bottom: 1px solid aliceblue!important;
}

i {
  margin-right: .5em;
}

p {
  position: relative;
  z-index: 10;
}

.welcome-header {
  margin-top: 10em;
}

.about-header {
  text-align: center;
}

#about {
  margin-top: 40em;
  padding-bottom: 10em;
}

p {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  color: #FFE37B;
  text-align: center;
  font-weight: 800;
  max-width: 70%;
  padding-left: 7em;
  padding-right: 7em;
}

.arrow {
  color: #FFE37B;
  transform: scale(2.5);
  margin-top: 1em;
}

.a-arrow {
  margin-left: 50%;
}

.github {
  margin-bottom: 20em;
  margin-left: 45em;
  padding-top: 3em;
  color: #FFE37B;
  text-align: center;
  font-weight: 800;
  max-width: 70%;
  padding-left: 7em;
  padding-right: 7em;
  padding-bottom: 25em;
}


