html, body {
  height: 100%;
  background-color: darkblue;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 1rem;
}

h1 {
  position: relative;
  z-index: 10;
  transform: scale(1.5);
  font-weight: 800;
  color: white;
}

a {
  color: #FFE37B;
  text-decoration: none;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  background-color: #0099ff;
}

.navbar a {
  font-size: x-large;
  color: darkblue;
}

.navbar-brand{
  color: darkblue;
}

nav a:hover {
  color: #FFE37B;
  text-decoration: none;
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition: .1s;
}

.nav-a {
  margin-left: .5em;
  margin-right: .5em;
}

.nav-a:hover {
  color: #FFE37B;
  text-decoration: none;
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition: .1s;
}

.border-bottom{
  border-bottom: 1px solid aliceblue!important;
}

i {
  margin-right: .5em;
}

p {
  position: relative;
  z-index: 10;
}

.welcome-header {
  margin-top: 10em;
}

.about-header {
  text-align: center;
}

#about {
  margin-top: 40em;
  padding-bottom: 10em;
}

p {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  color: #FFE37B;
  text-align: center;
  font-weight: 800;
  max-width: 70%;
  padding-left: 7em;
  padding-right: 7em;
}

.arrow {
  color: #FFE37B;
  transform: scale(2.5);
  margin-top: 1em;
}

.a-arrow {
  margin-left: 50%;
}

.github {
  margin-bottom: 20em;
  margin-left: 45em;
  padding-top: 3em;
  color: #FFE37B;
  text-align: center;
  font-weight: 800;
  max-width: 70%;
  padding-left: 7em;
  padding-right: 7em;
  padding-bottom: 25em;
}



body {
  margin: 0px;
}

ul {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.center {
  /* display: block; */
  text-align: center;
  z-index: 20;
}

.tracker {
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  margin: 5px;
  border: 2px ridge black;
  background-color: darkblue;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
  /* justify-content: space-around; */
}

.card {
  width: 100px;
  /* height: 200px; */
  border: 1px solid black;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
}

.card:hover {
  position: relative;
  top: -10px;
}

.title {
  margin-top: 40%;
}

#cardContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-bottom: 10em;
}

#opponentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15em;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 25%;
  padding-right: 25%;
}

.game-board {
  z-index: 20;
}

.go-fish-header {
  margin-bottom: 9em;
}

button {
  box-shadow: 2px 2px 2px black;
}

.btn {
  font-weight: 800;
}

.btn:active {
  transform: translateY(-5px);
}

.btn:hover {
  transform: scale(1.1);
}

#startButton {
  margin-right: 1em;
}
